@layer AnyStylesImagesTokens {
:root
{
	--GX-Image_selectRow : url(../selectRow.png);
	--GX-Image_PageFirst : url(PageFirst.gif);
	--GX-Image_PageLast : url(PageLast.gif);
	--GX-Image_PageNext : url(PageNext.gif);
	--GX-Image_PagePrevious : url(PagePrevious.gif);
}

.GX_Image_selectRow_Class{content: var(--GX-Image_selectRow);}
.GX_Image_PageFirst_Class{content: var(--GX-Image_PageFirst);}
.GX_Image_PageLast_Class{content: var(--GX-Image_PageLast);}
.GX_Image_PageNext_Class{content: var(--GX-Image_PageNext);}
.GX_Image_PagePrevious_Class{content: var(--GX-Image_PagePrevious);}
}